.donate-dialog {
  .MuiDialog-paper {
    border-radius: 25px !important;
    padding: 20px !important;
    * {
      font-family: 'Open Sans',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,  'Helvetica Neue', sans-serif !important;
    }
  }

  .loading-msg{
    font-size: 20px;
    font-weight: bold;
    color:#31572C;
  }

  .tx-success {
    width:100%;
    .check-tx{
      margin: 12px 0px;
      a{
        color: #31572C;
        display: block;
        width:100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    p{
      margin: 0px;
      padding: 0px;
    }
  }

  .form-title{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
  }

  .light-text{
    font-weight: lighter;
    font-size: 22px;
    
  }

  .info-list{
    font-weight: 300;
    .bold{
      font-weight: bold;
    }
  }

  .action-btn{
    justify-content: center;
  }
}