.footer{

  height: 40px;
  padding: 20px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.90);
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  font-family: 'Montserrat', sans-serif !important;

  text-transform: uppercase !important;

  .footer-links {
    padding-top: 10px;
  }

  h4 {
    display: inline;
    font-size: 14px;
    padding-bottom: 10px;
    color: #204020;
  }

  a {
    font-size: 18px;
    text-decoration: none;
    color: #4F772D;
    padding: 10px !important;
    margin-top: 15px !important;
      &:hover {
        color: #132A13;
        background-color: transparent !important;
      }
  }
}
