.impact-card {
  .first-line, .second-line {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
    .one-element{
      padding: 20px;
      h5 {
        font-size: 24px;
        margin: 0px;
        font-weight: 500;
      }
    }
  }

  .first-line{
    margin-bottom: 30px;
  }
}

