.navbar {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.90);
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  .home-link{
    text-decoration: none;
    color: black !important;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
    .icon{
      width: 100px;
      color: white !important;
    }
    .D2R-name {
      padding: 0px;
      h3 {
        display: flex;
        align-items: center;
        font-size: 30px;
        margin: 0px;
      }
    }
    
  }

  .nav-links{
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 24px;
    .navbar-btn{
      padding: 12px 20px !important;
      font-size: 16px !important;
    }
    .link {
      text-decoration: none;
      color: #4F772D;
      font-family: 'Montserrat', sans-serif !important;
      font-size: 18px !important;
      text-transform: uppercase !important;
      padding:0px !important;
      margin:0px !important;
      &:hover{
        color: #132A13;
        background-color: transparent !important;
      }
    }  
  }

  @media screen and (max-width: 600px) {
  width: 100vw;
    .nav-links{
      gap: 10px;
      .navbar-btn{
        padding: 6px 12px !important;
        font-size: 16px !important;
      }
      .link{
        padding: 0px !important;
        font-size: 16px !important;
        max-width: 100px;
      }  
    }
  }

}


