.home-page{
  text-align: center;

  .inner-homepage{
    padding: 24px;
    padding-top: 92px;

    .intro{
      font-weight: lighter;
      font-size: 28px;
      max-width: 1200px;
      margin: auto;
      margin-bottom: 50px;
    }
  
    .dao-description{
      text-align: left;
      font-size: 20px;
      max-width: 1200px;
      margin: auto;
      margin-bottom: 100px;
      display: flex;
      align-items: stretch;
      justify-content: space-around;
      flex-wrap: wrap;
      gap: 24px;
      .one-text{
        max-width: 420px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        button{
          margin-top: 20px;
          font-size: 24px !important;
        }

        h5{
          margin:0px;
          padding:0px;
          font-family: 'Montserrat', sans-serif;
          font-size: 24px;
        }
      }
      
    }

    .highlighted-projects{
      max-width: 1200px;
      margin: auto;
      margin-bottom: 48px;
      .projects-list {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        gap: 12px;
        margin-bottom: 30px;
      }
    }

    .green-banner{
      background-color: #31572C;
      color: white;
      font-size: 32px;
      position: relative;
      right: calc((100vw - 1200px) / 2);
      width: 100vw;
      font-weight: 200;
      p{
        padding: 30px 0px;
        max-width: 1200px;
        margin: auto;
        a{
          color: white;
          font-weight: 400;
          text-decoration: none;
        }
      }
    }

    .dao-impact{
      max-width: 1200px;
      margin: auto;
    }
  }

  @media screen and (max-width: 800px) {
    .projects-list{
      flex-wrap: wrap;
    }
  }
}

