.member-page{
  .inner-page {
    padding: 24px;
    padding-top: 50px;
    max-width: 1200px;
    margin: auto;
    text-align: center;

    .dao-rules {
      max-height: 300px;
      overflow-y: scroll;
      font-size: 24px;
      font-weight: lighter;
    }

    .highlighted-projects {
      margin-bottom: 48px;
      .projects-list {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        gap: 12px;
        margin-bottom: 30px;
        flex-wrap: wrap;
      }
    }
  }
}
